<<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>alGoat Home</title>
  <meta name="description" content="alGOAT: Public Algorithim Trading">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/HomepageStyle.css' %}" />
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
    $("#myModal").modal('show');
  });
</script>

<body>
  <div style="background: url('{% static 'admin\img\home-bg.4f18e6dc.svg' %}')"></div>
        <main>
            <header>
                <div class = "bar">
                    <nav>
                        <a href = "/">
                            <img class="logo" href="/" src="{% static 'admin/img/A-removebg-preview 1.svg" />
                            </a>

                        <div class="links">
                            <a href="/about">About</a>
                            <a href="/selections">Selections</a>
                            <button class="loginButton" href="/login">Login</a>
                        </div>
                    </nav>
                </div>

            </header>

            <div class="info">
                <h1 class="hero__font">alGOAT</h1>
                <h1 class="hero__font">Expert stock market
                    algorithims made easy</h1>

                    <a href = "/selections">
                        <button class="start" href="/selections"><b>Get Started</b></button>
                        </a>

            </div>



        </main>

        <script src="" async defer></script>
    </body>
</html>
